body {
  background-color: #333;
}

.content {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid rgb(255, 0, 0);
  padding: 30px;
  border-radius: 10px;
}

.card {
  border: 3px outset rgba(28,110,164,0.62);
  border-radius: 15px;
  -webkit-box-shadow: -3px 4px 6px 7px rgba(41,34,35,0.74); 
  box-shadow: -3px 4px 6px 7px rgba(41,34,35,0.74);
  margin: 30px;
  text-align: center;
}